# Loops

While Loops

In [4]:
#initialization

i=0

#condition
while(i<5):
    print(i)
    #increment 
    i=i+1

0
1
2
3
4

In [42]:
i=1
l=2
while(i<=10):
    print('Table of 2 *',i ,'=' ,l*i)
    i=i+1

Table of 2 * 1 = 2
Table of 2 * 2 = 4
Table of 2 * 3 = 6
Table of 2 * 4 = 8
Table of 2 * 5 = 10
Table of 2 * 6 = 12
Table of 2 * 7 = 14
Table of 2 * 8 = 16
Table of 2 * 9 = 18
Table of 2 * 10 = 20

In [8]:
i=0
while(i<3):
    print(i)
    i=i+1

0
1
2

In [32]:
i=0
while(i<7):
    print(i)
    i=i+1

0
1
2
3
4
5
6

In [22]:
i=5
while(i>=2):
    print(i)
    i=i-1

5
4
3
2

In [26]:
m=-10
while(m<5):
    print(m)
    m=m+1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4

In [49]:
p=10
while(p<=100):
    print("Value of p=",p)
    p=p+10

Value of p= 10
Value of p= 20
Value of p= 30
Value of p= 40
Value of p= 50
Value of p= 60
Value of p= 70
Value of p= 80
Value of p= 90
Value of p= 100

In [57]:
a=input('Enter number for which table is required ')
b=0
while(b<=10):
    print('Table of ',a,'*',b,'=',int(a)*b)
    b=b+1

Enter number for which table is required 6
Table of  6 * 0 = 0
Table of  6 * 1 = 6
Table of  6 * 2 = 12
Table of  6 * 3 = 18
Table of  6 * 4 = 24
Table of  6 * 5 = 30
Table of  6 * 6 = 36
Table of  6 * 7 = 42
Table of  6 * 8 = 48
Table of  6 * 9 = 54
Table of  6 * 10 = 60

In [54]:
#end is used to make output in horizontal
c=0
while(c<10):
    print(c,end=" ")
    c=c+1

0 1 2 3 4 5 6 7 8 9

In [58]:
c=0
while(c<10):
    print(c,end=",")
    c=c+1

0,1,2,3,4,5,6,7,8,9,

In [61]:
c=0
while(c<10):
    print(c,end="//")
    c=c+1

0//1//2//3//4//5//6//7//8//9//

# For Loops

In [62]:
for index in [100,200,300,500,400]:
    print(index)

100
200
300
500
400

In [63]:
for index in [10,11,12,13,14,15,16,17]:
    print(index)

10
11
12
13
14
15
16
17

In [64]:
for i in [11,22,33,44,55]:
    print(i)

11
22
33
44
55

In [65]:
for p in [11.5,12.5,13.9,14.1,15.60]:
    print(p)

11.5
12.5
13.9
14.1
15.6

In [66]:
for i in ['A','B','C']:
    print(i)

A
B
C

In [73]:
for fruits in ["apple", "banana", "cherry"]:
    print(fruits)

apple
banana
cherry

In [74]:
for fruits in ["apple", "banana", "cherry"]:
    print(fruits,end=" ")

apple banana cherry

In [75]:
for k in  ["apple", "banana", "cherry",11.5,55,True,False]:
    print(k)

apple
banana
cherry
11.5
55
True
False

Range function

In [76]:
range(5)

range(0, 5)

In [77]:
range(7)

range(0, 7)

In [78]:
range(10)

range(0, 10)

In [87]:
#with the help to list(range(x)) we can see range 

list(range(5))

[0, 1, 2, 3, 4]

In [80]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [89]:
#list(range(2,20,3)) where 2 is from where range with start upto 20  & 3 or any other number will skip x number 
#like in below case its skip 3 number from 2 to 5 . 3,4 is skiped similary 5-8 where 6,7 is skiped
#range(start, end , jump or skip)

list(range(2,20,3))

[2, 5, 8, 11, 14, 17]

In [90]:
for x in range(5):
    print(x,end=" ")

0 1 2 3 4

In [103]:
for x in range(5):
    if x==3: break
    print(x)

0
1
2

In [96]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [97]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [98]:
list(range(0,30,5))

[0, 5, 10, 15, 20, 25]

In [99]:
for x in range(0,10,2):
    print(x,end=" ")

0 2 4 6 8