# Type Casting

With help of type casting we can change/convert data type

In [1]:
type(90)

int

In [2]:
type("Test")

str

In [4]:
type('Test')

str

In [20]:
p=30

In [10]:
type(p)

int

In [7]:
string="Mumbai"

In [8]:
type(string)

str

In [9]:
type(20.65)

float

In [22]:
j=float(p)

In [23]:
type(j)

float

# Converting int/float to string

In [24]:
k=str(j)

In [25]:
print(string," Temp is : ",j)

Mumbai  Temp is :  30.0

In [26]:
x="20"

In [27]:
type(x)

str

In [28]:
y=int(x)

In [29]:
type(y)

int

In [30]:
z=float(y)

In [31]:
type(z)

float

# Input function will always gives us String values

In [40]:
a=input("Enter 1st number ")
a

Enter 1st number 50

'50'

In [41]:
b=input("Enter 2nd number ")
b

Enter 2nd number 10

'10'

In [42]:
type(a)

str

In [43]:
type(b)

str

In [44]:
a+b

'5010'

In [45]:
int(a)+int(b)

60

In [57]:
num1=int(input("Enter 1st number "))

Enter 1st number 20

In [61]:
num2=int(input("Enter 2nd number "))

Enter 2nd number 41

In [62]:
num1+num2

61

# AREA OF RECTANGLE

In [56]:
Length=int(input("Enter Length "))
Breadth=int(input("Enter Breadth "))
print("Length is : ",a , "Breadth is : ",b)
area=Length*Breadth
print("Area of Rectangle is = ",area)

Enter Length 50
Enter Breadth 10
Length is :  50 Breadth is :  10
Area of Rectangle is =  500

# Area of Circle  πr²

In [69]:
Pi=float(input("Enter value for PI "))
radius=int(input("Enter value for Radius "))
print("Value of PI is : ",Pi ,"and Radius is = ",radius)
area=Pi*(radius**2)
print("Area of Circle is = ", area)

Enter value for PI 3.14
Enter value for Radius 6
Value of PI is :  3.14 and Radius is =  6
Area of Circle is =  113.04

In [70]:
print(id(Pi))

2061438729840

# Area of Triangle 1/2 * base* height

In [72]:
base=int(input("Enter value for Base "))
height=int(input("Enter value for Height "))
print("Base is : ", base, " Heigth is : ",height)
area=0.5*base*height
print("Area of Triangle is = ",area)

Enter value for Base 10
Enter value for Height 20
Base is :  10  Heigth is :  20
Area of Triangle is =  100.0

# circumference of circle 2πr

In [81]:
#We can use round function to round values upto desire decimal
rad=float(input("Enter Radius "))
pi=3.14
circ=2*pi*rad
#round(circ,2)
print("circumference of circle is =",circ)

Enter Radius 6.5
circumference of circle is = 40.82

In [76]:
d=57.56565515656646545456

In [77]:
round(d,3)

57.566

In [78]:
round(d,2)

57.57